<div class="container-flex" style="background-color: #0067a2">
  <div class="row">
    <div class="col col-xs-3" style="width: 230px;">
      <img src="/assets/images/applogo.png">
    </div>
    <div class="col col-xs-6 pull-right" style="height:36px;">
      <div class="pull-right" style="background-color: black; height:31px; min-width:85px;">
        <div class="btn-group">
          <a class="btn btn-sm pull-left dropdown-toggle" data-toggle="dropdown">{{ currentUser ? currentUser.fullName : 'nicht angemeldet' }}</a>

          <ul *ngIf="currentUser" class="dropdown-menu" style="background: #eeeeee">
            <li><a [routerLink]="['/changePassword']">Change Password</a></li>
            <li><a [routerLink]="['/logout']">Logout</a></li>
            <li *ngIf="currentUser && currentUser.isAdmin" role="separator" class="divider"></li>
            <li *ngIf="currentUser && currentUser.isAdmin"><a [routerLink]="['/register']">Register</a></li>
          </ul>
        </div>
        <a *ngIf="currentUser" class="btn btn-sm pull-right" [routerLink]="['/logout']"><i class="fa fa-sign-out fa-lg"></i></a>
        <a *ngIf="currentUser && currentUser.isAdmin" class="btn btn-sm pull-right" [routerLink]="['/configuration']"><i class="fa fa-cog fa-lg"></i></a>
      </div>
    </div>
    <div class="col col-xs-7 minheight child" style="min-width:550px;">
      <ul *ngIf="currentUser" class="nav nav-tabs" role="tablist">
        <li *ngFor="let tab of tabs" data-toggle="tab" role="tab" class="nav-panel {{tab.status}}"><a class="nav-link" (click)="GoTo(tab.route)">{{tab.header}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div style="height:10px; background-color: #eeeeee">

</div>

<div style="height:calc(100vh - 80px)">
  <flx-messages></flx-messages>
  <router-outlet></router-outlet>
</div>