<p-dialog [(visible)]="value" header="Overtime Details" (onBeforeHide)="onBeforeDialogHide($event)" [responsive]="true"
  showEffect="fade" [modal]="true">
  <div class="container-fluid">
    <form *ngIf="value" class="form-horizontal">
      <p-messages [value]="messages"></p-messages>

      <div>
        <ul *ngFor="let metadata of columnMetadata">

          <div class="form-group" *ngIf="! isHidden(metadata, value) && metadata.propertyType === 'string'">
            <label class="control-label col-sm-2">{{displayName(metadata)}}:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="value[metadata.propertyName]" name="{{metadata.propertyName}}">
            </div>
          </div>
          <div class="form-group" *ngIf="! isHidden(metadata, value) && metadata.propertyType === 'number'">
            <label class="control-label col-sm-2">{{displayName(metadata)}}:</label>
            <div class="col-sm-1">
              <input type="text" class="form-control" [(ngModel)]="value[metadata.propertyName]" name="{{metadata.propertyName}}">
            </div>
          </div>

          <div class="form-group" *ngIf="! isHidden(metadata, value) && metadata.propertyType === 'shorttime'">
            <label class="control-label col-sm-2">{{displayName(metadata)}}:</label>
            <div class="col-sm-1">
              <input type="text" maxlength="5" size="6" class="form-control" [(ngModel)]="value[metadata.propertyName]" name="{{metadata.propertyName}}">
            </div>
          </div>

          <div class="form-group" *ngIf="! isHidden(metadata, value) && metadata.propertyType === 'datetime'">
            <label class="control-label col-sm-2">{{displayName(metadata)}}:</label>
            <div class="col-sm-2">
              <input type="text" maxlength="10" size="10" class="form-control" [(ngModel)]="value[metadata.propertyName]" name="{{metadata.propertyName}}">
            </div>
          </div>

          <!--<div class="form-group" *ngIf="info.typeInfo.dataType == enumEnum && info.isVisible">
          <label class="control-label col-sm-2">{{info.name}}:</label>
          <div class="col-sm-10">
          <select type="text" class="form-control">
            <option *ngFor="let o of info.typeInfo.options" [value]="o">{{o.name}}</option>
          </select>
          </div>
        </div>-->

        </ul>
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <div class="container">
            <button type="submit" class="btn btn-primary" (click)='cancel()'>Abbruch</button>
            <button type="submit" class="btn btn-primary" (click)='submit()'>
              <span class="glyphicon glyphicon-save"></span> Speichern
            </button>
            <button type="submit" class="btn btn-primary" (click)='confirm()'>    
              <span class="glyphicon glyphicon-trash"></span> Löschen
            </button>
            
            <flx-popup (onAnswer)="delete($event)" [title]="'Löschen?'" [message]="'Soll wirklich gelöscht werden?'" *ngIf="askuser">Löschbestätigung</flx-popup>

          </div>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>