<div class="listitem" [ngClass]="{'selected':selectedRecord && datarecord.id == selectedRecord.id}" *ngFor="let datarecord of datarecords" (click)="onRecordClicked(datarecord)">
  <div class="w3-container">
    <div class="w3-row">
      <div *ngFor="let field of fields" class="w3-mobile" style="white-space:nowrap;">
        <div class="mainitem" *ngIf="field.main == true">
          {{ datarecord[field.fieldname] }}
        </div>
        <div class="normalitem" *ngIf="field.main == false">
          {{ datarecord[field.fieldname] }}
        </div>
      </div>
    </div>
  </div>
</div>