<div class="absolute">
  <div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
      <div class="col-sm-12">
        <h3>{{title}}</h3>
      </div>
    </div>
    <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
      <div class="col-sm-12">
        <div class="jumbotron">
          <p class="lead">{{message}}</p>
          <br>
          <div class="actions segments">
            <button class="btn" id="cancelButton" (click)="onCancel()">
                              <i class="remove icon"></i>Nein
                            </button>
            <button class="btn" id="approveButton" (click)="onApprove">
                              <i class="checkmark icon">
                            </i>Ja</button>
            <button pButton type="text" (click)="onClick(true)" icon="fa-check" label="Click"></button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>