<div class="container-fluid">
  <form *ngIf="dataItem" class="form-horizontal" [formGroup]="getForm()">

    <div *ngIf="configInternal && configInternal.columnInfos">
      <ul *ngFor="let info of configInternal.columnInfos">

        <!--
        normale Text-/Eingabefelder
        -->
        <div *ngIf="info.controlType === controlType.Input">
          <div class="form-group" *ngIf="! isHidden(info, dataItem)">
            <label class="control-label col-sm-2" [for]="info.valueField">{{info.textField}}</label>

            <div class="col-sm-10">
              <input flxAutofocus type="text" class="form-control" [formControlName]="info.valueField" [(ngModel)]="dataItem[info.valueField]"
                [required]="info.required" [readonly]="isReadonly(info)"
                [style.color]="getColor(dataItem, info)"
              >
            </div>

            <div *ngIf="getFormErrors(info.valueField)" class="alert alert-danger">
              {{ getFormErrors(info.valueField) }}
            </div>

          </div>
        </div>

        <!--
        Checkbox-Controls für boolean Werte
        -->
        <div *ngIf="info.controlType === controlType.Checkbox">
          <div class="form-group" *ngIf="! isHidden(info, dataItem)">
            <label class="control-label col-sm-2" [for]="info.valueField">{{info.textField}}</label>

            <div class="col-sm-10">
              <p-checkbox flxAutofocus class="form-control" [formControlName]="info.valueField" [(ngModel)]="dataItem[info.valueField]"
                [required]="info.required" [readonly]="isReadonly(info)"
                [style.color]="getColor(dataItem, info)" >
              </p-checkbox>
            </div>

            <div *ngIf="getFormErrors(info.valueField)" class="alert alert-danger">
              {{ getFormErrors(info.valueField) }}
            </div>

          </div>
        </div>

        <!--
        Datumsfelder
        -->
        <div *ngIf="info.controlType === controlType.Date">
          <div class="form-group" *ngIf="! isHidden(info, dataItem)">
            <label class="control-label col-sm-2" [for]="info.valueField">{{info.textField}}</label>

            <div class="col-sm-10">
              <p-calendar inputStyleClass="form-control" [formControlName]="info.valueField" [(ngModel)]="dataItem[info.valueField]"
                [required]="info.required" [readonlyInput]="isReadonly(info)"
                dateFormat="yy-mm-dd" [style.color]="getColor(dataItem, info)">
              </p-calendar>
            </div>

            <div *ngIf="getFormErrors(info.valueField)" class="alert alert-danger">
              {{ getFormErrors(info.valueField) }}
            </div>

          </div>
        </div>

        <!--
        Zeitfelder:
        -->
        <div *ngIf="info.controlType === controlType.Time">
          <div class="form-group" *ngIf="! isHidden(info, dataItem)">
            <label class="control-label col-sm-2" [for]="info.valueField">{{info.textField}}</label>

            <div class="col-sm-10">
              <flx-time-selector inputStyleClass="form-control" [formControlName]="info.valueField" [(ngModel)]="dataItem[info.valueField]"
                [required]="info.required" [readonly]="isReadonly(info)"
                [style.color]="getColor(dataItem, info)">
              </flx-time-selector>
            </div>

            <div *ngIf="getFormErrors(info.valueField)" class="alert alert-danger">
              {{ getFormErrors(info.valueField) }}
            </div>

          </div>
        </div>


        <!--
        Dropdown/Wertelisten:
        -->
        <div *ngIf="info.controlType === controlType.DropdownSelector">
          <div class="form-group" *ngIf="! isHidden(info, dataItem)">
            <label class="control-label col-sm-2" [for]="info.valueField">{{info.textField}}</label>

            <div class="col-sm-10">
              <flx-dropdown-selector inputStyleClass="form-control" [formControlName]="info.valueField" [(ngModel)]="dataItem[info.valueField]"
                [required]="info.required" [readonly]="isReadonly(info)"
                [dataServiceRequests]="info.enumInfo.selectorDataServiceRequests"
                [textField]="info.enumInfo.textField" [valueField]="info.enumInfo.valueField"
                [style]="{'width':'100%'}"
                [style.color]="getColor(dataItem, info)"
                [debug]="false">
              </flx-dropdown-selector>
            </div>

            <div *ngIf="getFormErrors(info.valueField)" class="alert alert-danger">
              {{ getFormErrors(info.valueField) }}
            </div>

          </div>
        </div>

      </ul>
    </div>


  </form>
</div>